.dialog {
  min-width: 30vw;
  height: 40vh;
  padding: 2.5vw;
  border: 2px solid black;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-title > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.dialog-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.dialog-textbox {
  border: 1px solid black;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.75vw;
  overflow: auto;
}

.dialog-table {
  width: 100%;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog-textbox > h3 {
  margin-bottom: 0;
  margin-top: 5px;
}

.dialog-button-spacer {
  width: 20%;
}

.dialog-player {
  color: green;
}

.dialog-opponent {
  color: red;
}

th {
  text-align: left;
}

.dialog-button {
  color: white;
  font-weight: bold;
  background-color: #007bff;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1.5;
  padding: 0.4em 1em;
  display: inline-block;
  cursor: pointer;
}

.dialog-button:hover {
  background-color: #006ce0;
}
