.spacer {
  width: 1vw;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  background: #696969;
  height: 100vh;
  width: 100vw;
}

.player {
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.75vh;
}

.card-outline {
  height: calc(1.44674 * var(--width));
  width: var(--width);
  margin-left: 0.35vh;
  margin-right: 0.35vh;
  border: 2px solid white;
  border-radius: 3%;
}

.card-outline-selected {
  border: 2px solid red;
}

.card {
  width: 99.5%;
  height: 99.5%;
  background-size: cover;
}

.nameplate-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nameplate {
  border: 2px solid black;
  min-width: 7vh;
  margin: auto;
  background-color: white;
}

.name {
  font-weight: bold;
  font-size: 2.2vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.chips {
  font-size: 2vh;
}

@media (orientation: portrait) {
  :root {
    --height: 8.4vh;
  }

  .spacer {
    height: 1vh;
  }

  .card-outline {
    height: var(--height);
    width: calc(0.6912 * var(--height));
  }

  .bottom {
    flex-direction: row-reverse;
  }

  .game {
    flex-direction: column-reverse;
    align-items: start;
  }
}