body {
  background-color: #282c34;
}

.card-outline {
  border: 1px solid white;
  border-radius: 5%;
  width: 125px;
  height: 175px;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
