.dialog {
  width: 30vw;
  height: 40vh;
  padding: 2.5vw;
  border: 2px solid black;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-title > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.dialog-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog-textbox {
  border: 1px solid black;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog-button-spacer {
  width: 20%;
}

.player {
  color: green;
}
